In [4]:
import pandas as pd
data = pd.read_csv('Datasets MLOPS/Datasets/02_medical_records.csv')
data

,age,gender,chest_pain,resting_BP,cholesterol,fasting_BS,resting_ECG,max_HR,exercise_angina,old_peak,ST_slope,cv_issue
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
from pycaret.classification  import *
s = setup(data, 
          target='cv_issue',  # The target column you want to predict
          session_id=123,     # Specify a session ID for reproducibility
          remove_outliers=True,  # You can set this to True if you want to remove outliers
          normalize=True,      # Normalize the data
          transformation=True,  # Apply feature transformations
          categorical_features=['gender', 'chest_pain', 'fasting_BS', 'resting_ECG', 'exercise_angina', 'ST_slope'],  # List of categorical features
          ignore_features=['age'],  # Features to ignore during modeling
        # Set this to True to suppress outputs during setup
          )

In [7]:
best = compare_models()

Processing:   0%|          | 0/69 [00:00<?, ?it/s]

In [11]:
s.dataset_transformed

,gender,chest_pain_ATA,chest_pain_ASY,chest_pain_NAP,chest_pain_TA,resting_BP,cholesterol,fasting_BS,resting_ECG_Normal,resting_ECG_LVH,resting_ECG_ST,max_HR,exercise_angina,old_peak,ST_slope_Up,ST_slope_Down,ST_slope_Flat,cv_issue
0,0.508197,2.083772,-1.116796,-0.536215,-0.188982,0.542683,0.784405,-0.520959,0.795429,-0.510754,-0.469511,1.413755,-0.837327,-0.829445,1.135550,-0.227626,-1.028315,0
462,0.508197,-0.479899,0.895419,-0.536215,-0.188982,-0.543032,0.374134,-0.520959,0.795429,-0.510754,-0.469511,-0.835202,1.194276,0.556878,-0.880631,4.393177,-1.028315,1
853,0.508197,-0.479899,-1.116796,1.864924,-0.188982,0.430790,0.552685,-0.520959,-1.257183,1.957890,-0.469511,0.740323,-0.837327,-0.829445,1.135550,-0.227626,-1.028315,0
540,0.508197,-0.479899,-1.116796,1.864924,-0.188982,0.430790,0.152093,-0.520959,-1.257183,-0.510754,2.129874,-0.638936,1.194276,0.469014,-0.880631,-0.227626,0.972464,1
162,0.508197,2.083772,-1.116796,-0.536215,-0.188982,1.563335,0.596659,-0.520959,0.795429,-0.510754,-0.469511,1.498938,-0.837327,-0.829445,1.135550,-0.227626,-1.028315,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,0.508197,-0.479899,0.895419,-0.536215,-0.188982,2.016291,1.464341,-0.520959,-1.257183,-0.510754,2.129874,-0.638936,1.194276,1.120438,-0.880631,-0.227626,0.972464,1
486,0.508197,2.083772,-1.116796,-0.536215,-0.188982,-1.383047,0.229499,1.919535,-1.257183,-0.510754,2.129874,1.755781,-0.837327,-0.331161,1.135550,-0.227626,-1.028315,0
859,-1.967740,-0.479899,-1.116796,1.864924,-0.188982,0.542683,0.918930,-0.520959,-1.257183,1.957890,-0.469511,0.163412,-0.837327,0.726518,1.135550,-0.227626,-1.028315,0
334,0.508197,-0.479899,0.895419,-0.536215,-0.188982,-0.037644,-1.940445,1.919535,0.795429,-0.510754,-0.469511,1.328789,-0.837327,-1.958228,1.135550,-0.227626,-1.028315,1
333,0.508197,-0.479899,0.895419,-0.536215,-0.188982,-2.607279,-1.940445,1.919535,-1.257183,-0.510754,2.129874,0.245089,-0.837327,-0.829445,1.135550,-0.227626,-1.028315,1